body {
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    height: 100vh;
}



.navbar {
  background: white;
  width: 100%;
  margin: 0;
  top: 0;
  justify-content:center;
  align-items: center;
  padding: 10px 30px;
}

.navbar ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 40px;
    margin: 0;
    gap: 20px;
}

.navbar li a {
    text-decoration: none;
    padding: 20px 30px;
    display: block;
    color: black;
    transition: ease-in 0.1s;
}

.navbar ul li a:hover {
    background: darkgray;
    color: black;
    transform: scale(1.2);
  }

.logo img {
    width: 65px;
    height: auto;
    position: absolute;   
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 20px;
}

.images img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    transition: ease-in-out 0.3s;
}

.images img:hover {
    transform: scale(1.2);
}

.pics {
    text-align: center;
}

@media (max-width: 1024px) {
    .navbar ul {
        gap: 15px;
    }
    
    .navbar li a {
        padding: 15px 20px;
    }
    
    .logo img {
        width: 55px;
    }
    
    .images {
        gap: 10px;
        padding: 15px;
    }
    
    .images img {
        width: 200px;
        height: 150px;
    }
}


@media (max-width: 768px) {
    .navbar {
        padding: 10px 15px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar ul {
        flex-direction: column;
        justify-content: flex-start;
        padding-right: 0;
        gap: 10px;
        width: 100%;
    }
    
    .navbar li a {
        padding: 10px 15px;
        text-align: left;
    }
    
    .logo img {
        width: 50px;
        left: 15px;
        top: 10px;
    }
    
    .images {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        align-items: center;
    }
    
    .images img {
        width: 80%;
        max-width: 250px;
        height: auto;
    }
}