body {
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: scroll;
    background-position: center;
    margin: 0;
    height: 100vh;
}



.navbar {
  background: white;
  width: 100%;
  margin: 0;
  top: 0;
  justify-content:center;
  align-items: center;
  padding: 10px 30px;
}

.navbar ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 40px;
    margin: 0;
    gap: 20px;
}

.navbar li a {
    text-decoration: none;
    padding: 20px 30px;
    display: block;
    color: black;
    transition: ease-in 0.1s;
}

.navbar ul li a:hover {
    background: darkgray;
    color: black;
    transform: scale(1.2);
  }

.logo img {
    width: 65px;
    height: auto;
    position: absolute;   
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.locimg1 {
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    width: 350;
}

.locimg1 img{
    width: 300px;
    /* border-radius: 15px;
    margin-bottom: 10px; */
}

.locinf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: garamond;
}


@media (max-width: 1024px) {
    .navbar ul {
        gap: 15px;
    }
    
    .navbar li a {
        padding: 15px 20px;
    }
    
    .logo img {
        width: 55px;
    }
    
    .location {
        gap: 20px;
    }
    
    .locimg1 {
        width: 300px;
        padding-left: 15px;
    }
    
    .locimg1 img {
        width: 250px;
    }
}


@media (max-width: 768px) {
    .navbar {
        padding: 10px 15px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar ul {
        flex-direction: column;
        justify-content: flex-start;
        padding-right: 0;
        gap: 10px;
        width: 100%;
    }
    
    .navbar li a {
        padding: 10px 15px;
        text-align: left;
    }
    
    .logo img {
        width: 50px;
        left: 15px;
        top: 10px;
    }
    
    .location {
        flex-direction: column;
        gap: 20px;
        margin-top: 10px;
    }
    
    .locimg1 {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    
    .locimg1 img {
        width: 80%;
        max-width: 300px;
        height: auto;
    }
    
    .locinf {
        text-align: center;
    }
}


@media (max-width: 480px) {
    .navbar {
        padding: 5px 10px;
    }
    
    .navbar li a {
        padding: 8px 10px;
        font-size: 14px;
    }
    
    .logo img {
        width: 40px;
        left: 10px;
    }
    
    .location {
        gap: 10px;
        margin-top: 5px;
    }
    
    .locimg1 img {
        width: 90%;
        max-width: 250px;
    }
}