body {
    background-color: gray;
    background-image: url(/images/401be6e687a162d9da9d2ac0202813e7.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    height: 100vh;
}



.navbar {
  background: white;
  width: 100%;
  margin: 0;
  top: 0;
  justify-content:center;
  align-items: center;
  padding: 10px 30px;
}

.navbar ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 40px;
    margin: 0;
    gap: 20px;
}

.navbar li a {
    text-decoration: none;
    padding: 20px 30px;
    display: block;
    color: black;
    transition: ease-in 0.1s;
}

.navbar ul li a:hover {
    background: darkgray;
    color: black;
    transform: scale(1.2);
  }

.logo img {
    width: 65px;
    height: auto;
    position: fixed;   
}

.intro {
    text-align: center;
    color: white;
}

.support {
    text-align: center;
    color: white;
}

.intro2 {
    font-size: 16px;
    line-height: 1.6;
    color: white;
    text-align: center;
    margin-top: 100px;
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 20px; 
    }
    
    .navbar ul {
        padding-right: 20px; 
        gap: 15px; 
    }
    
    .navbar li a {
        padding: 15px 20px; 
        font-size: 14px; 
    }
    
    .logo img {
        width: 50px; 
        left: 20px; 
    }
    
    .intro2 {
        margin-top: 80px; 
        font-size: 14px; 
        padding: 0 20px; 
    }
}


@media (max-width: 480px) {
    .navbar {
        padding: 10px 15px; 
        flex-direction: column; 
    }
    
    .navbar ul {
        flex-direction: column; 
        padding-right: 0; 
        gap: 10px; 
        width: 100%; 
        justify-content: center; 
    
    .navbar li a {
        padding: 10px 15px;
        text-align: center; 
    }
    
    .logo img {
        position: static; 
        width: 45px; 
        margin-bottom: 10px; 
    }
    
    .intro2 {
        margin-top: 60px; 
        font-size: 12px; 
        padding: 0 15px; 
    
   
    body {
        background-attachment: scroll; 
    }
}






  